// Variables
$primary-color: #5193be;
$secondary-color: #000000;
$link-hover-color: radial-gradient(at top, #dcf7ff, #51b6b6);
$link-hover-border-radius: 5px;
$link-hover-color-text: #faf8f8;
$link-hover-padding: 5px;
$link-transition: all 300ms ease;

// Estilos
.container-fluid {
  .navbar-brand {
    color: $primary-color;
  }

  .nav-link {
    color: $secondary-color;
  }
}

.nav-item {
  .nav-link {
    margin: 0 10px;
    transition: $link-transition;

    &:hover {
      background: $link-hover-color;
      border-radius: $link-hover-border-radius;
      color: $link-hover-color-text;
      padding: $link-hover-padding;
    }
  }
}
